<!DOCTYPE html>
<html>
<head>
  <title>Justen Siyuan Waterhouse</title>
  <meta charset="utf-8"/>
  <style>
    h1 { font-family: 'verdana', sans-serif; font-size:14px; font-weight: 400;
        }
    
    p {font-family: 'verdana', sans-serif; font-size: 14px; margin-left: 20px; 
    }
    
    a, a:visited { 
      color: black!important;
      text-decoration: none;

    }

    a:hover { 
    text-decoration: underline;
    }

    div {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;

    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;

    margin-top: 50px; margin-left: 50px; margin-right: 50px;
    border-width: 20px; 
    
}

  </style>
</head>
<body>

<div>

  <h1>JUSTEN SIYUAN WATERHOUSE </h1>
  <p>
  Artist, Designer, Curator-in-Incubation
  <br>
  <br>
  b. 1990, Taipei, Taiwan
  <br>Based in Seattle, WA since 2012
  <br>
  Painting+Drawing, BFA,
  <br>
  University of Washington, Seattle, WA

<!--Social Media Block-->
  <h1><a href="https://www.instagram.com/justenwaterhouse/"> INST /</a>
<a href="https://www.facebook.com/justen.waterhouse">FACE /</a>
<a href="mailto:justenwaterhouse@gmail.com">EMAIL </a></h1>
<!--Social Media Block-->
</p>
<br>

<p>
2015–current   
<br>Editorial Assistant and Gallery Assistant,                           
<br><a href="http://incainstitute.org/">Institute for New Connotative Action (INCA), Seattle WA </a>
<br>
<br>
2015–current   
<br>Exhibitions Manager, 
<br>Vital 5 Productions, Seattle WA
<br>
<br>

2015–current   
<br>Exhibitions and Publications Coordinator, Associate Designer
<br>Frye Art Museum, Seattle WA
<br>
<br>

2015  
<br>
Assistant to Director Scott Lawrimore,                                               
<br>Jacob Lawrence Gallery, UW, Seattle WA
<br>
 <a href="cv.html"> cv </a>
  </p>

  </div>
</body>


</html>
